h1{
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

h2{
    font-size:35px;
    font-family: 'Shadows Into Light', cursive;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

#content{
    text-align: justify;
    font-family: 'Sen', sans-serif;
}